<!DOCTYPE html>
<html lang="en">
<!-- Header Section Begin -->
<%- include('../site_partials/header') %>

    <!-- Header Section End -->

    <!-- breadcumb begin -->
    <div class="w-50 d-flex flex-column mx-auto mt-5">
        <h1 class="text-center">NOT FOUND</h1>
        <a href="/home" class="btn btn-primary mx-auto my-3 p-2 text-bold">Home</a>
    </div>


    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <%- include('../site_partials/script') %>
        </body>

</html>